
.login-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #000;
  font-family: 'Segoe UI', sans-serif;
  
}

.left-panel-image {
  display: none;
  width: 25%;
  height: 100vh;
  background: url('../assets/login.png') no-repeat center center;
  background-size: cover;
}

@media (min-width: 1024px) {
  .left-panel-image {
    display: block;
  }
}

/* RIGHT PANEL */
.right-panel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
  margin-left:90px ;
}

@media (min-width: 1024px) {
  .right-panel {
    width: 50%;
  }
}

.form-container {
  width: 100%;
  max-width: 28rem;
 

}

.welcome-text {
  text-align: center;
  margin-bottom: 2rem;
}

.welcome-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  position: relative;
}

.input-container {
  position: relative;
  
  
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: #888;
  font-size: 1rem;
}
 
.form-input {
  width: 500px;
  height:10px;
  padding: 30px;
  background-color: white;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  color: #000;
  box-shadow: 0 0 0 1px #ccc;
  transition: all 0.2s ease;
}

.form-input::placeholder {
  color: #888;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
}
 
.password-toggle {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 0.875rem;
  color: #888;
  cursor: pointer;
  transition: color 0.2s ease;
}

.password-toggle:hover {
  color: #000;
}
 
.login-button {
  width: 560px;
  height: 3.25rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 219, 222, 0.3);
  transition: opacity 0.3s ease;
}

.login-button:hover {
  opacity: 0.9;
}
 
.signup-link {
  text-align: center;
  margin-top: 1.5rem;
}

.signup-text {
  color: #ccc;
}

.signup-anchor {
  color: #00dbde;
  text-decoration: none;
  font-weight: 500;
}

.signup-anchor:hover {
  color: #fc00ff;
}
 
@media (max-width: 768px) {
  .login-container {
    padding: 1rem;
    flex-direction: column;
  }

  .form-container {
    max-width: 100%;
  }

  

  .left-panel-image {
    display: none;
  }
}

.input-container,
.login-button {
  transition: all 0.2s ease;
}