.wv-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.wv-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 60px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: black;
  top: 0;
  left: 0;
  transition: top 0.8s ease;
  z-index: 1;
}

.wv-first {
  z-index: 2;
}

.wv-second {
  top: 100vh;
  z-index: 1;
}

.h1prop {
  color:#ffffff;
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.ulprop {
  list-style-type: none;
  padding: 0;
  margin-left: 1rem;
}

.arrow {
  color: #00ffd5;
  margin-right: 1rem;
  margin-left: 0rem;
  margin-top: 5rem;
  font-size: 2rem;
}

.liprop {
  color:#ffffff;
  font-size: 2rem;
  font-weight: 100px;
  margin-top: 0;
  margin-bottom: 75px;
  margin-left: 16rem;
}

.p_prop {
  color:#ffffff;
  font-size: 2rem;
  font-weight: 100px;
  margin-top: 40px;
  margin-bottom: 115px;
  margin-left: 16rem;
}

.wv-title {
  font-size: 2.19rem;
  font-weight: 675;
  color: #ffffff;
}

.slide-up {
  animation: slideUp 0.8s ease forwards;
  z-index: 3 !important;
}

.slide-down {
  animation: slideDown 0.8s ease forwards;
  z-index: 3 !important;
}

@keyframes slideUp {
  from {
    top: 100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    top: -100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
